@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
* Mixes
*/
/**
* Importamos los helpers
*/
/**
helpers!
*/
* {
  box-sizing: border-box;
}

* hr {
  border-style: solid;
  border-width: 1px 0 0 0;
}

* img {
  vertical-align: middle;
}

/**
* fonds translucidos
*/
.background-opacity-black-02 {
  background-color: rgba(0, 0, 0, 0.2);
}

.background-opacity-black-03 {
  background-color: rgba(0, 0, 0, 0.3);
}

.background-opacity-black-04 {
  background-color: rgba(0, 0, 0, 0.4);
}

.background-opacity-black-05 {
  background-color: rgba(0, 0, 0, 0.5);
}

.background-opacity-black-06 {
  background-color: rgba(0, 0, 0, 0.6);
}

.background-opacity-black-07 {
  background-color: rgba(0, 0, 0, 0.7);
}

.background-opacity-black-08 {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Helpers  padding space */
.padding-left-0 {
  padding-left: 0px;
}

.padding-right-0 {
  padding-right: 0px;
}

.padding-top-0 {
  padding-top: 0px;
}

.padding-bottom-0 {
  padding-bottom: 0px;
}

.padding-both-0 {
  padding: 0px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-both-5 {
  padding: 5px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-both-10 {
  padding: 10px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-both-20 {
  padding: 20px;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-both-30 {
  padding: 30px;
}

.padding-left-40 {
  padding-left: 40px;
}

.padding-right-40 {
  padding-right: 40px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-both-40 {
  padding: 40px;
}

.padding-left-50 {
  padding-left: 50px;
}

.padding-right-50 {
  padding-right: 50px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-both-50 {
  padding: 50px;
}

/* Helpers  margin space */
.margin-left-0 {
  margin-left: 0px;
}

.margin-right-0 {
  margin-right: 0px;
}

.margin-top-0 {
  margin-top: 0px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-both-0 {
  margin: 0px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-both-5 {
  margin: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-both-10 {
  margin: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-both-20 {
  margin: 20px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-both-30 {
  margin: 30px;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-both-40 {
  margin: 40px;
}

.margin-auto {
  margin: auto;
}

/* opacity */
.opacity-01 {
  opacity: 0.1;
}

.opacity-02 {
  opacity: 0.2;
}

.opacity-03 {
  opacity: 0.3;
}

.opacity-05 {
  opacity: 0.5;
}

.opacity-08 {
  opacity: 0.8;
}

/* Helpers  border radiuys */
.border-radius-100 {
  border-radius: 100px;
}

.border-radius-1 {
  border-radius: 1px;
}

.border-radius-2 {
  border-radius: 2px;
}

.border-radius-3 {
  border-radius: 3px;
}

.border-radius-4 {
  border-radius: 4px;
}

.border-radius-5 {
  border-radius: 5px;
}

/* border styles */
.border-style-solid {
  border-style: solid;
}

.border-style-dashed {
  border-style: dashed;
}

/* border widths */
.border-width-1 {
  border-width: 1px;
}

.border-width-2 {
  border-width: 2px;
}

/* other helpers */
.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-inline,
.display-inline > li {
  display: inline;
}

.display-none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.width-100 {
  width: 100%;
}

.min-height-100vh {
  min-height: 100vh;
}

.height-10vh {
  height: 10vh;
}

.height-20vh {
  height: 20vh;
}

.height-30vh {
  height: 30vh;
}

.height-33vh {
  height: 33.33vh;
}

.height-40vh {
  height: 40vh;
}

.height-50vh {
  height: 50vh;
}

.height-60vh {
  height: 60vh;
}

.height-70vh {
  height: 70vh;
}

.height-80vh {
  height: 80vh;
}

.height-90vh {
  height: 90vh;
}

.height-100vh {
  height: 100vh;
}

.height-10vw {
  height: 10vw;
}

.height-20vw {
  height: 20vw;
}

.height-30vw {
  height: 30vw;
}

.height-33vw {
  height: 33.33vw;
}

.height-40vw {
  height: 40vw;
}

.height-50vw {
  height: 50vw;
}

.height-60vw {
  height: 60vw;
}

.height-70vw {
  height: 70vw;
}

.height-80vw {
  height: 80vw;
}

.height-90vw {
  height: 90vw;
}

.height-100vw {
  height: 100vw;
}

.width-10vh {
  width: 10vh;
}

.width-20vh {
  width: 20vh;
}

.width-30vh {
  width: 30vh;
}

.width-33vh {
  width: 33.33vh;
}

.width-40vh {
  width: 40vh;
}

.width-50vh {
  width: 50vh;
}

.width-60vh {
  width: 60vh;
}

.width-70vh {
  width: 70vh;
}

.width-80vh {
  width: 80vh;
}

.width-90vh {
  width: 90vh;
}

.width-100vh {
  width: 100vh;
}

.width-10vw {
  width: 10vw;
}

.width-20vw {
  width: 20vw;
}

.width-30vw {
  width: 30vw;
}

.width-33vw {
  width: 33.33vw;
}

.width-40vw {
  width: 40vw;
}

.width-50vw {
  width: 50vw;
}

.width-60vw {
  width: 60vw;
}

.width-70vw {
  width: 70vw;
}

.width-80vw {
  width: 80vw;
}

.width-90vw {
  width: 90vw;
}

.width-100vw {
  width: 100vw;
}

.max-width-100px {
  max-width: 100px;
}

.max-width-200px {
  max-width: 200px;
}

.max-width-300px {
  max-width: 300px;
}

.max-width-400px {
  max-width: 400px;
}

.max-width-500px {
  max-width: 500px;
}

.max-width-600px {
  max-width: 600px;
}

.max-width-700px {
  max-width: 700px;
}

.max-width-800px {
  max-width: 800px;
}

.max-width-900px {
  max-width: 900px;
}

.max-width-1000px {
  max-width: 1000px;
}

.max-width-1200px {
  max-width: 1200px;
}

.max-width-1500px {
  max-width: 1500px;
}

.min-width-100px {
  min-width: 100px;
}

.min-width-200px {
  min-width: 200px;
}

.min-width-300px {
  min-width: 300px;
}

.min-width-400px {
  min-width: 400px;
}

.min-width-500px {
  min-width: 500px;
}

.min-width-600px {
  min-width: 600px;
}

.min-width-700px {
  min-width: 700px;
}

.min-width-800px {
  min-width: 800px;
}

.min-width-900px {
  min-width: 900px;
}

.min-width-1000px {
  min-width: 1000px;
}

.min-width-1200px {
  min-width: 1200px;
}

.min-width-1500px {
  min-width: 1500px;
}

.height-100px {
  height: 100px;
}

.height-200px {
  height: 200px;
}

.height-300px {
  height: 300px;
}

.height-400px {
  height: 400px;
}

.height-500px {
  height: 500px;
}

.height-600px {
  height: 600px;
}

.height-700px {
  height: 700px;
}

.height-800px {
  height: 800px;
}

.height-900px {
  height: 900px;
}

.height-1000px {
  height: 1000px;
}

.height-1200px {
  height: 1200px;
}

.height-1500px {
  height: 1500px;
}

.max-height-100px {
  max-height: 100px;
}

.max-height-200px {
  max-height: 200px;
}

.max-height-300px {
  max-height: 300px;
}

.max-height-400px {
  max-height: 400px;
}

.max-height-500px {
  max-height: 500px;
}

.max-height-600px {
  max-height: 600px;
}

.max-height-700px {
  max-height: 700px;
}

.max-height-800px {
  max-height: 800px;
}

.max-height-900px {
  max-height: 900px;
}

.max-height-1000px {
  max-height: 1000px;
}

.max-height-1200px {
  max-height: 1200px;
}

.max-height-1500px {
  max-height: 1500px;
}

.min-height-100px {
  min-height: 100px;
}

.min-height-200px {
  min-height: 200px;
}

.min-height-300px {
  min-height: 300px;
}

.min-height-400px {
  min-height: 400px;
}

.min-height-500px {
  min-height: 500px;
}

.min-height-600px {
  min-height: 600px;
}

.min-height-700px {
  min-height: 700px;
}

.min-height-800px {
  min-height: 800px;
}

.min-height-900px {
  min-height: 900px;
}

.min-height-1000px {
  min-height: 1000px;
}

.min-height-1200px {
  min-height: 1200px;
}

.min-height-1500px {
  min-height: 1500px;
}

/**
* Ornaments
*/
.ornament-point-before-amper + .ornament-point-before-amper::before,
.ornament-point-before::before {
  content: '·';
  margin-right: 5px;
  font-weight: normal;
  opacity: 0.5;
}

.ornament-or-before-amper + .ornament-or-before-amper::before {
  content: 'or';
  font-weight: normal;
  opacity: 0.5;
}

.ornament-ampersand-before-amper + .ornament-ampersand-before-amper::before {
  content: '&';
  font-weight: normal;
  opacity: 0.5;
}

/* link related */
.classic-link:hover, .classic-link-inside a:hover {
  text-decoration: underline;
}

/**
* Link color balnco
*/
html .link-white-color {
  color: #fff !important;
}
html .link-white-color a {
  color: #fff !important;
}

/**
* button behaviors for any element
*/
.button-behaviour {
  transition: transform 0.250s ease;
  /* --- */
}
.button-behaviour:hover {
  opacity: 0.9;
}
.button-behaviour:active {
  transform: scale(0.98);
}
.button-behaviour.md-whiteframe-2dp:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.button-behaviour.md-whiteframe-2dp:active {
  box-shadow: none;
}

/**
* Typography
*/
/**
typography!
*/
/* Text styles */
/* Helpers  text align */
.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

/* text shadows */
.text-shadow-1 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/* Helpers  font sizes */
.typo-size-xxxxlarge {
  font-size: 3em;
  line-height: 1em;
}

.typo-size-xxxlarge {
  font-size: 2.8em;
  line-height: 1em;
}

.typo-size-xxlarge {
  font-size: 2.1em;
  line-height: 1.1em;
}

.typo-size-xlarge {
  font-size: 1.8em;
  line-height: 1.2em;
}

.typo-size-large {
  font-size: 1.65em;
  line-height: 1.2em;
}

.typo-size-medium {
  font-size: 1.4em;
  line-height: 1.3em;
}

.typo-size-small {
  font-size: 1em;
  line-height: 1.3em;
}

.typo-size-xsmall {
  font-size: 0.8em;
  line-height: 1.4em;
}

.typo-size-xxsmall {
  font-size: 0.7em;
  line-height: 1.2em;
}

/* font weight */
.typo-weight-100, .font-weight-100 {
  font-weight: 100;
}

.typo-weight-200, .font-weight-200 {
  font-weight: 200;
}

.typo-weight-300, .font-weight-300 {
  font-weight: 300;
}

.typo-weight-400, .font-weight-400 {
  font-weight: 400;
}

.typo-weight-500, .font-weight-500 {
  font-weight: 500;
}

.typo-weight-600, .font-weight-600 {
  font-weight: 600;
}

.typo-weight-700, .font-weight-700 {
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .typography-responsive .typo-size-xxxxlarge {
    font-size: 2em;
    line-height: 1em;
  }
  .typography-responsive .typo-size-xxxlarge {
    font-size: 1.8em;
    line-height: 1em;
  }
  .typography-responsive .typo-size-xxlarge {
    font-size: 1.1em;
    line-height: 1.1em;
  }
  .typography-responsive .typo-size-xlarge {
    font-size: 1.45em;
    line-height: 1.2em;
  }
  .typography-responsive .typo-size-large {
    font-size: 1.1em;
    line-height: 1.2em;
  }
  .typography-responsive .typo-size-medium {
    font-size: 1.0em;
    line-height: 1.3em;
  }
  .typography-responsive .typo-size-small {
    font-size: 0.85em;
    line-height: 1.3em;
  }
  .typography-responsive .typo-size-xsmall {
    font-size: 0.8em;
    line-height: 1.4em;
  }
  .typography-responsive .typo-size-xxsmall {
    font-size: 0.7em;
    line-height: 1.2em;
  }
}
/**
* Masonry
*/
/**
masonry!
*/
.masonry-layout {
  column-count: 3;
  -webkit-column-count: 3;
  column-gap: 0;
  -webkit-column-gap: 0;
}

.masonry-layout__panel {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

/**
* Widgets
*/
.widget.widget_search .screen-reader-text {
  display: none;
}
.widget.widget_search input[type="search"] {
  border-radius: 3px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}
.widget.widget_search input[type="submit"] {
  display: none;
}

.widget + .widget {
  margin-top: 20px;
}

#site-header-wrap {
  margin-bottom: -100px;
  top: 0;
  position: relative;
  z-index: 1;
}

.menu-site-menu-container ul li a {
  color: #fff;
}

.menu-site-menu-container ul li:before {
  color: #fff;
  margin-right: 5px;
}

.menu-site-menu-container ul li + li {
  margin-left: 10px;
}

.menu-site-menu-container ul ul {
  display: none;
}

.bottom-menu-container ul ul {
  display: none;
}

/* material fixes */
md-icon svg {
  fill: inherit;
}

.material-icons {
  font-size: inherit;
  vertical-align: middle;
}

/**
* pushmenu
*/
/*--------------------------------------------------------------
+ Pushmenu (sidebar menu)
--------------------------------------------------------------*/
/* TRIGGER ---------------------------------------------------- */
.menu-pusher {
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  display: inline-block;
  min-width: 80px;
  list-style-type: none;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu-pusher:hover {
  opacity: 0.5;
}

.menu-pusher:active {
  opacity: 0.3;
}

.menu-pusher > i {
  font-weight: 200;
  margin-left: 5px;
}

/* PUSH MENU  ------------------------------------------------- */
.scroller, .container {
  height: 100%;
}

.scroller {
  overflow-y: hidden;
  overflow-x: hidden;
}

.scroller,
.scroller-inner {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.container {
  position: relative;
  overflow: hidden;
  /*background-color:#27262B;*/
}

.mp-pusher {
  position: relative;
  left: 0;
  height: 100%;
}

/* ------------------------------------------------------- */
/* default sidebar style */
.mp-menu {
  position: fixed;
  /* we can't use fixed here :( */
  top: 0;
  right: 0;
  z-index: 0;
  width: 300px;
  height: 100%;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  /*box-shadow: 2px 0px 2px rgba(0,0,0,0.3) inset;
  border-style:solid;border-color:rgba(0,0,0, 0.7);
  */
  border-width: 0 0 0 1px;
  overflow: hidden;
  background-color: #27262B;
}

/* default text color in sidebar */
.mp-menu,
.mp-menu .widget input,
.mp-menu h3,
.mp-menu span
.mp-menu div,
.mp-menu .widget {
  /* -webkit-font-smoothing:antialiased; */
  color: #999999;
  font-family: 'PT Sans', Lato, oxygen, 'helvetica neue' ,heveltica, arial, sans-serif;
}

/* widget titles/captions */
.mp-menu .widget .widget-title {
  font-size: 17px;
  display: block;
  margin-bottom: 8px;
}

/* sidebar links */
.mp-menu a {
  color: #eaeaea;
}

.mp-menu a:hover {
  color: #fff;
}

/* ------------------------------------------------------- */
.mp-level {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  top: 0;
  text-align: left;
  font-family: 'helvetica neue', 'pt sans', helvetica,arial,sans-serif;
  line-height: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-align: center;
}

.mp-level #sidebar-content {
  -webkit-box-flex: 1-boxflex;
  -webkit-flex: 1;
  -moz-box-flex: 1-boxflex;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: scroll;
  overflow-x: hidden;
}

.mp-level a {
  transition: color .10s ease-in-out;
  -moz-transition: color .10s ease-in-out;
  -webkit-transition: color .10s ease-in-out;
}

.mp-level a:hover {
  text-decoration: underline;
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
  box-shadow: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* content style */
.scroller.cbp-spmenu-push-toright {
  /*left: 300px;*/
  -webkit-transform: translate3d(-300px, 0, 0);
  -moz-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}

.mp-menu.cbp-spmenu-push-toright {
  /*left: 300px;*/
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  -webkit-transition: all 0.0s ease;
  -moz-transition: all 0.0s ease;
  transition: all 0.0s ease;
}

/* Transitions */
.scroller {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1;
}

.mp-menu {
  -webkit-transition: all 0.48s ease;
  -moz-transition: all 0.48s ease;
  transition: all 0.48s ease;
}

.push-cover {
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.push-cover {
  color: transparent;
}

/* overlap */
.cbp-spmenu-push-toright .push-cover {
  /*background-color:rgba(0,0,0,0.7);*/
  z-index: 77777;
  position: absolute;
  width: 100%;
  height: 100%;
}

.mp-menu a {
  text-decoration: none;
}

/* ##################################################################### */
/* ##################### sidebar menu ################################## */
/* ##################################################################### */
/* ---------------- */
#mp-menu .widget {
  padding: 20px 50px;
}

#mp-menu .widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
#mp-menu .widget select {
  max-width: 100%;
}

#mp-menu .widget {
  border-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  border-bottom-width: 1px;
  font-family: 'PT Sans', Lato, oxygen, 'helvetica neue' ,heveltica, arial, sans-serif;
}

#mp-menu .widget + .widget {
  border-top-color: rgba(255, 255, 255, 0.03);
  border-top-width: 1px;
  margin: 0;
}

#mp-menu .widget:last-child {
  border-bottom-width: 0;
}

#mp-menu .widget ul {
  margin: 5px 0;
  padding: 0;
  list-style-type: none;
}

#mp-menu .widget ul li + li {
  margin-top: 4px;
}

/* widget custom menu */
#mp-menu .widget_nav_menu ul {
  line-height: 1.1em;
  margin: 0px 0 0px 0;
  padding: 0;
  list-style-type: none;
}

#mp-menu .widget_nav_menu ul li a {
  font-family: 'PT Sans', Lato, oxygen, 'helvetica neue' ,heveltica, arial, sans-serif;
  font-size: 15px;
  display: inline-block;
  padding: 3px 0;
  margin: 0;
  font-weight: 400;
}

#mp-menu .widget_nav_menu ul li a {
  font-size: 17px;
  font-weight: 500;
  padding: 4px 0;
}

#mp-menu .widget_nav_menu li a:hover {
  text-decoration: none !important;
}

#mp-menu .widget_nav_menu li a:before {
  display: none;
  padding-right: 10px;
  display: inline-block;
}

#mp-menu .widget_nav_menu li {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
}

#mp-menu .widget_nav_menu li:before {
  margin-right: 8px;
}

#mp-menu .widget_nav_menu ul ul {
  margin-left: 20px;
  padding-top: 10px;
}

#mp-menu .widget_nav_menu li.featured {
  margin-bottom: 8px;
}

#mp-menu .widget_nav_menu li.featured a {
  font-size: 20px;
}

#mp-menu .widget_nav_menu li a:hover:after {
  opacity: 1;
}

/* widget search */
#mp-menu .widget_search .search-submit,
#mp-menu .widget_search .screen-reader-text,
#mp-menu .widget_search .widget-title {
  display: none;
}

#mp-menu .widget_search {
  padding: 0px 0px !important;
  margin: 0;
}

#mp-menu .widget_search input[type=search] {
  width: 100%;
  padding: 15px 25px;
  font-family: 'PT Sans', Lato, oxygen, 'helvetica neue', heveltica, arial, sans-serif;
  font-size: 14px;
  border-style: solid;
  border-width: 0;
  border-radius: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* widget text */
#mp-menu .widget_text {
  font-size: 14px;
  font-weight: 300;
}

/* widget meta */
#mp-menu .widget_meta ul {
  margin: 0;
  padding: 0;
}

#mp-menu .widget_meta ul li {
  display: inline-block;
  padding-right: 10px;
  font-size: 13px;
}

/* widget categories */
#mp-menu .widget_categories ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 10px;
}

#mp-menu .widget_categories ul li {
  text-align: right;
  position: relative;
  overflow: hidden;
  font-size: 13px;
}

#mp-menu .widget_categories ul li a {
  display: inline-block;
  float: left;
  font-size: 16px;
}

/* SIDEBAR FOOTER --------------------------------------- */
footer#colophon {
  background-color: rgba(0, 0, 0, 0.1);
  clear: both;
  padding: 5px 20px;
  border-style: solid;
  border-width: 0;
  border-top-color: rgba(0, 0, 0, 0.3);
  border-top-width: 1px;
}

footer#colophon a {
  text-decoration: none;
}

footer#colophon .footer-firm {
  text-align: right;
  line-height: 1.4em;
  margin-bottom: 5px;
}

footer#colophon .footer-firm p {
  margin: 0;
  padding: 0;
}

footer#colophon .site-info {
  display: block !important;
}

footer#colophon .site-info > .int {
  font-family: 'PT Sans', sans-serif;
  padding: 15px 0 15px 0 !important;
  font-size: 13px;
}

footer#colophon .site-info a {
  text-decoration: underline;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100vh;
}

a {
  text-decoration: none;
}

p {
  padding: .8em 0px;
}

b, strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  padding: .8em 0;
  line-height: 0.5em;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1em;
  padding: .5em 0;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.4em;
  line-height: 1.3em;
}

h5 {
  font-size: 1.2em;
  line-height: 1.4em;
}

h6 {
  font-size: 1.1em;
  line-height: 1em;
}

hr {
  display: block;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.screen-reader-text.wp-a11y-speak-region {
  display: none;
}

body #site-wrap {
  overflow: hidden;
  position: relative;
}

/* HEADER SITE */
html .site-logo-button {
  font-size: 20px;
  line-height: 55px;
  background-size: cover;
  border-radius: 3px !important;
  background-repeat: no-repeat;
}

.site-sidenav md-tabs-canvas {
  background-color: rgba(0, 0, 0, 0.2);
}

#site-body {
  position: relative;
}
#site-body .site-body-content-wrap {
  margin: auto;
  text-align: center;
  /*min-height:100vh;*/
  /*max-width:900px;*/
}

#site-menu-block {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

html #site-wrap {
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

html #site-wrap.overlay-open {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.overlay-contentpush {
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.25s, visibility 0s 0.25s;
  transition: transform 0.25s, opacity .25s, visibility 0s 0.5s;
}

.overlay-contentpush.open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s, opacity .25s;
}

.post-item .card-post a {
  color: #fff;
}

.by-user::before {
  content: "by";
  margin-right: 0.4em;
  font-weight: normal;
  opacity: 0.5;
}

.by-user + .by-user::before {
  content: "&";
  margin-right: 0.25em;
  font-weight: normal;
  opacity: 0.5;
}

.post-item .card-content {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.87))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(90%, rgba(0, 0, 0, 0.5)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.87) 100%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.87) 100%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.87) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
}
