/**
* Estilos relacionados con el formulario de comentarios
*/
/* line 7, ../../sass/design-parts/comments-form.scss */
.comments-area input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  outline: none;
}
/* line 17, ../../sass/design-parts/comments-form.scss */
.comments-area input:focus {
  border-color: rgba(0, 0, 0, 0.3);
}
/* line 22, ../../sass/design-parts/comments-form.scss */
.comments-area button {
  margin: 0;
  padding: 5px 20px;
  text-transform: none;
}
/* line 28, ../../sass/design-parts/comments-form.scss */
.comments-area button + button {
  margin-left: 10px;
}
/* line 30, ../../sass/design-parts/comments-form.scss */
.comments-area small {
  font-size: 0.5em;
}
