/**
* pushmenu
*/
/*--------------------------------------------------------------
+ Pushmenu (sidebar menu)
--------------------------------------------------------------*/
/* TRIGGER ---------------------------------------------------- */
.menu-pusher {
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  display: inline-block;
  min-width: 80px;
  list-style-type: none;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu-pusher:hover {
  opacity: 0.5;
}

.menu-pusher:active {
  opacity: 0.3;
}

.menu-pusher > i {
  font-weight: 200;
  margin-left: 5px;
}

/* PUSH MENU  ------------------------------------------------- */
.scroller, .container {
  height: 100%;
}

.scroller {
  overflow-y: hidden;
  overflow-x: hidden;
}

.scroller,
.scroller-inner {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.container {
  position: relative;
  overflow: hidden;
  /*background-color:#27262B;*/
}

.mp-pusher {
  position: relative;
  left: 0;
  height: 100%;
}

/* ------------------------------------------------------- */
/* default sidebar style */
.mp-menu {
  position: fixed;
  /* we can't use fixed here :( */
  top: 0;
  right: 0;
  z-index: 0;
  width: 300px;
  height: 100%;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  /*box-shadow: 2px 0px 2px rgba(0,0,0,0.3) inset;
  border-style:solid;border-color:rgba(0,0,0, 0.7);
  */
  border-width: 0 0 0 1px;
  overflow: hidden;
  background-color: #27262B;
}

/* default text color in sidebar */
.mp-menu,
.mp-menu .widget input,
.mp-menu h3,
.mp-menu span
.mp-menu div,
.mp-menu .widget {
  /* -webkit-font-smoothing:antialiased; */
  color: #999999;
  font-family: 'PT Sans', Lato, oxygen, 'helvetica neue' ,heveltica, arial, sans-serif;
}

/* widget titles/captions */
.mp-menu .widget .widget-title {
  font-size: 17px;
  display: block;
  margin-bottom: 8px;
}

/* sidebar links */
.mp-menu a {
  color: #eaeaea;
}

.mp-menu a:hover {
  color: #fff;
}

/* ------------------------------------------------------- */
.mp-level {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  top: 0;
  text-align: left;
  font-family: 'helvetica neue', 'pt sans', helvetica,arial,sans-serif;
  line-height: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-align: center;
}

.mp-level #sidebar-content {
  -webkit-box-flex: 1-boxflex;
  -webkit-flex: 1;
  -moz-box-flex: 1-boxflex;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: scroll;
  overflow-x: hidden;
}

.mp-level a {
  transition: color .10s ease-in-out;
  -moz-transition: color .10s ease-in-out;
  -webkit-transition: color .10s ease-in-out;
}

.mp-level a:hover {
  text-decoration: underline;
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
  box-shadow: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* content style */
.scroller.cbp-spmenu-push-toright {
  /*left: 300px;*/
  -webkit-transform: translate3d(-300px, 0, 0);
  -moz-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}

.mp-menu.cbp-spmenu-push-toright {
  /*left: 300px;*/
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  -webkit-transition: all 0.0s ease;
  -moz-transition: all 0.0s ease;
  transition: all 0.0s ease;
}

/* Transitions */
.scroller {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1;
}

.mp-menu {
  -webkit-transition: all 0.48s ease;
  -moz-transition: all 0.48s ease;
  transition: all 0.48s ease;
}

.push-cover {
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.push-cover {
  color: transparent;
}

/* overlap */
.cbp-spmenu-push-toright .push-cover {
  /*background-color:rgba(0,0,0,0.7);*/
  z-index: 77777;
  position: absolute;
  width: 100%;
  height: 100%;
}

.mp-menu a {
  text-decoration: none;
}
