@import "compass";
@import "compass/reset";
@import "compass/css3";

/**
* Mixes
*/
@import "basics/kttmixes";

/**
* Importamos los helpers
*/
@import "basics/helpers";

/**
* Typography
*/
@import "basics/typography";

/**
* Masonry
*/
@import "basics/masonry";

/**
* Widgets
*/
@import "widgets";

@import "design-parts/header";
@import "design-parts/material-icons";
@import "design-parts/pushmenu";
@import "design-parts/sidebar";


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {height: 100vh;}
a {text-decoration:none}
p {padding: .8em 0px;}
b, strong {font-weight:700;}
i, em {font-style:italic;}
h1, h2, h3, h4, h5, h6 {padding:.8em 0;line-height:0.5em;}
h1 {font-size:2.2em;line-height:1.1em;padding:.5em 0;}
h2 {font-size:1.9em;}
h3 {font-size:1.7em;}
h4 {font-size:1.4em;line-height:1.3em;}
h5 {font-size:1.2em;line-height:1.4em;}
h6 {font-size:1.1em;line-height:1em;}
hr {display:block;}

html, body {
  @include font-smoothing(on);
  overflow:hidden;
}




.screen-reader-text.wp-a11y-speak-region {display:none}


body {
  #site-wrap {
    overflow:hidden;
    position:relative;
  }
}





/* HEADER SITE */


html .site-logo-button {
    font-size:20px;
    line-height:55px;
    background-size:cover;
    border-radius:3px !important;
    background-repeat:no-repeat;

}


.site-sidenav {

  md-tabs-canvas {
    background-color:rgba(0,0,0,0.2);
  }

  .section {

  }
}








#site-body {
  //text-align:center;
  //overflow-y: auto;
  //overflow-x: hidden;
  position:relative;


  .site-body-content-wrap {
      margin:auto;
      text-align:center;
      /*min-height:100vh;*/
      /*max-width:900px;*/

  }

}



#site-menu-block {

  width:100vw;
  height:100vh;
  position:absolute;
  top:0;
  left:0;
  z-index:10;

}


html #site-wrap {
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
  -webkit-transform: scale(1);
	transform: scale(1);
}

html #site-wrap.overlay-open {
  -webkit-transform: scale(0.95);
	transform: scale(0.95);

}



.overlay-contentpush {

  opacity:0;
  overflow-y: auto;
  visibility: hidden;
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: -webkit-transform 0.25s, visibility 0s 0.25s;
	transition: transform 0.25s, opacity .25s, visibility 0s 0.5s;
}

.overlay-contentpush.open {
  opacity:1;
  visibility: visible;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s, opacity .25s;
}























.post-item .card-post {

  a {
    color:#fff;
  }
}


.by-user::before {
    content: "by";
    margin-right: 0.4em;
    font-weight: normal;
    opacity: 0.5;
}

.by-user + .by-user::before {
  content:"&";
  margin-right:0.25em;
  font-weight:normal;
  opacity:0.5;
}

.post-item .card-content {
  @include background-image(linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.87) 100%), linear-gradient(top, rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.5) 90%));
}
