/**
typography!
*/



/* Text styles */
.site-typeface-title-1 {}
.site-typeface-title-2 {}
.site-typeface-title-3 {}
.site-typeface-headline {}
.site-typeface-body {}
.site-typeface-callout {}
.site-typeface-subhead {}
.site-typeface-footnote {}
.site-typeface-caption-1 {}
.site-typeface-caption-2 {}




/* Helpers  text align */
.text-align-left        {text-align:left;}
.text-align-right       {text-align:right;}
.text-align-center      {text-align:center;}


/* text shadows */
.text-shadow-1          {text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);}


/* Helpers  font sizes */
.typo-size-xxxxlarge          {font-size:3em;line-height: 1em;}
.typo-size-xxxlarge           {font-size:2.8em;line-height:1em;}
.typo-size-xxlarge            {font-size:2.1em;line-height:1.1em;}
.typo-size-xlarge             {font-size:1.8em;line-height:1.2em;}
.typo-size-large              {font-size:1.65em;line-height:1.2em;}
.typo-size-medium             {font-size:1.4em;line-height:1.3em;}
.typo-size-small              {font-size:1em;line-height:1.3em;}
.typo-size-xsmall             {font-size:0.8em;line-height:1.4em;}
.typo-size-xxsmall            {font-size:0.7em;line-height:1.2em;}


/* font weight */
.typo-weight-100, .font-weight-100              {font-weight:100;}
.typo-weight-200, .font-weight-200              {font-weight:200;}
.typo-weight-300, .font-weight-300              {font-weight:300;}
.typo-weight-400, .font-weight-400              {font-weight:400;}
.typo-weight-500, .font-weight-500              {font-weight:500;}
.typo-weight-600, .font-weight-600              {font-weight:600;}
.typo-weight-700, .font-weight-700              {font-weight:700;}





@media only screen and (max-width: 600px) {


      .typography-responsive {

          .typo-size-xxxxlarge {
            font-size: 2em;
            line-height: 1em;
          }
          .typo-size-xxxlarge {
            font-size: 1.8em;
            line-height: 1em;
          }
          .typo-size-xxlarge {
            font-size: 1.1em;
            line-height: 1.1em;
          }
          .typo-size-xlarge {
            font-size: 1.45em;
            line-height: 1.2em;
          }
          .typo-size-large {
            font-size: 1.1em;
            line-height: 1.2em;
          }
          .typo-size-medium {
            font-size: 1.0em;
            line-height: 1.3em;
          }
          .typo-size-small {
            font-size: 0.85em;
            line-height: 1.3em;
          }
          .typo-size-xsmall {
            font-size: 0.8em;
            line-height: 1.4em;
          }
          .typo-size-xxsmall {
            font-size: 0.7em;
            line-height: 1.2em;
          }

      }
}
